Repository Kirchhoff-/Android-Interview-Questions, pull requests merged in 2020-10, with the labels that each got.

#377 Livedata
  Android/What's LiveData.md
  README.md
Labels: Android

#380 Issue #376 chore: Added comparable interface definition.(resolves #376)
  Java/Comparable interface in java.md
  README.md
Labels: Java

#381 DI libraries
  Libraries/Which libraries for dependency injection you know.md
  README.md
Labels: Libraries

#382 Issue #362 chore: What is REST.(resolves #362)
  General/What is REST.md
  README.md
Labels: General, hacktoberfest-accepted

#383 template method pattern
  Patterns/Template method pattern.md
  README.md
Labels: Patterns

#386 Scope functions
  Kotlin/Scope functions.md
  Kotlin/res/scope_function.png
  README.md
Labels: Kotlin
