Repository Kirchhoff-/Android-Interview-Questions, pull requests merged in 2020-12, with the labels that each got.

#401 Composite pattern
  Patterns/Composite pattern.md
  README.md
Labels: Patterns

#402 What you know about DiffUtil
  Android/What you know about DiffUtil.md
  README.md
Labels: Android

#403 Strategy pattern
  Patterns/Strategy pattern.md
  README.md
Labels: Patterns

#405 Added How to support different screen sizes in android?
  Android/How to support different screen size in android?.md
  Android/res/layout-editor_2x.png
  Android/res/ninepatch_raw.png
  Android/res/sizes-phone-tablet_2x.png
  layout-editor_2x.png
Labels: Android

#407 Vector Java
  Java/What you know about Vector.md
  README.md
Labels: Java

#409 Issue #406 chore: Difference between fold and reduce in Kotlin.(resolves #406)
  Kotlin/Difference between fold and reduce in Kotlin.md
  README.md
Labels: Kotlin

#410 Issue #251 chore: Added Kotlin collection definition(resolves #251)
  Kotlin/Kotlin collections.md
  Kotlin/res/collections-diagram.png
Labels: Kotlin

#412 Stack in Java
  Java/What you know about Stack.md
  README.md
Labels: Java

#413 Describe List interface
  Java/Describe List interface.md
  Java/res/java_list_class_diagram.png
  README.md
Labels: Java

#415 LinkedHashSet
  Java/What you know about LinkedHashSet.md
  README.md
Labels: Java

#418 EnumSet Java
  Java/What you know about EnumSet.md
  README.md
Labels: Java

#421 ArrayMap
  Android/What you know about ArrayMap.md
  README.md
Labels: Android

#423 SparseArray
  Android/What you know about ArrayMap.md
  Android/What you know about SparseArray.md
  README.md
Labels: Android

#425 Chrome Custom Tabs
  Android/What you know about Chrome custom tabs.md
  README.md
Labels: Android

#426 Interpreter pattern
  Patterns/Interpreter pattern.md
  README.md
Labels: Patterns

#428 TreeMap
  Java/What you know about TreeMap.md
  README.md
Labels: Java

#432 EnumMap Java
  Java/What you know about EnumMap.md
  README.md
Labels: Java

#436 Hashtable
  Java/What you know about Hashtable.md
  README.md
Labels: Java

#433 Issue #132 chore: Added difference between blocking and suspend in kotlin
  Kotlin/What is the difference between suspending vs. blocking.md
  README.md
Labels: Kotlin

#437 Issue #316 chore: Added default method for interface in Kotlin.(resol…
  Kotlin/Default method in kotlin interface.md
  README.md
Labels: Kotlin

#438 Jetpack
  Android/What's Jetpack.md
  README.md
Labels: Android

#442 Rx conditional operators
  README.md
  Rx/Give example of conditional operators.md
  Rx/res/conditional_all.png
  Rx/res/conditional_amb.png
  Rx/res/conditional_contains.png
  Rx/res/conditional_defaultIfEmpty.png
  Rx/res/conditional_sequenceEqual.png
  Rx/res/conditional_skipUntil.png
  Rx/res/conditional_skipWhile.png
  Rx/res/conditional_takeUntil.png
  Rx/res/conditional_takeWhile.png
Labels: RxJava & RxAndroid
