Repository Kirchhoff-/Android-Interview-Questions, pull requests merged in 2020-08, with the labels that each got.

#288 Builder pattern
  Patterns/Builder pattern.md
  README.md
Labels: Patterns

#290 Executor interface
  Java/What's Executor interface.md
  README.md
Labels: Java

#292 Destructuring declarations
  Kotlin/What is destructuring declarations.md
  README.md
Labels: Kotlin

#294 Facade pattern
  Patterns/Facade pattern.md
  README.md
Labels: Patterns

#296 Abstract factory
  Patterns/Abstract factory pattern.md
  README.md
Labels: Patterns

#298 Adapter pattern
  Patterns/Adapter pattern.md
  README.md
Labels: Patterns

#299 Abstraction vs encapsulation
  General/What is the difference between abstraction and encapsulation.md
  README.md
Labels: General

#301 Decorator pattern
  Patterns/Decorator pattern.md
  README.md
Labels: Patterns

#303 Lifecycle
  Android/What you know about lifecycle from architecture component.md
  Android/res/lifecycle_states.svg
  README.md
Labels: Android

#305 Command pattern
  Patterns/Command pattern.md
  README.md
Labels: Patterns

#307 Any, nothing, unit types
  Kotlin/What you know about Any, Nothing, Unit types.md
  README.md
Labels: Kotlin

#309 Deadlock
  General/What is deadlock.md
  README.md
Labels: General

#311 Iterator pattern
  Patterns/Iterator pattern.md
  README.md
Labels: Patterns

#313 What is widget
  Android/What's Widget.md
  README.md
Labels: Android

#317 State pattern
  Patterns/State pattern.md
  README.md
Labels: Patterns

#319 Hashset
  Java/What you know about HashSet.md
  README.md
Labels: Java

#322 Prototype pattern
  Patterns/Prototype pattern.md
  README.md
Labels: Patterns

#324 Issue #318 chore: Added nodpi and anydpi definitions.
  Android/-nodpi, -anydpi qualifiers for resources.md
  Android/res/nodpi_anydpi_source.png
Labels: Android

#325 Livelock
  General/What is livelock.md
  README.md
Labels: General

#328 TreeSet in java
  Java/What you know about TreeSet.md
  README.md
Labels: Java

#331 Null safety in Kotlin
  Kotlin/Null safety.md
  README.md
Labels: Kotlin

#327 Issue #326 chore: Added savedInstanceState definition.(resolves #326)
  Android/What is savedInstanceState bundle.md
  README.md
Labels: Android
